body {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(250, 206, 243);
}

aside {
    align-self: flex-start;
    font-size: 40px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

h1 {
    color: rgb(9, 65, 207);
}

.sketchPad {
    align-self: center;
}

#container {
    width: 650px;
    height: 650px;
    /* border-style: solid;
    border-color: black; */
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 30px;
}

.box {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    box-sizing: border-box;
} 

#boxRow { 
    border-color: black;
    border-style: solid;
}

#boxCol {
    border-color: black;
    border-style: solid;
}

button {
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px;
    border-radius: 8px;
    background-color: cornflowerblue;
    color: aliceblue;
    border-style: solid;
    border-color: cornsilk;
}
